*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background: #eae9e9
}

.about{
    width:100%;
    display:flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 4rem;

}
.about h1{
    color: #ff924e;
    font-size: 1.6rem;
    margin: 1rem 0;

}
.about p{
    color: #724c09;
    font-size: 1.2rem;
    letter-spacing: 1px;
    width: 70%;
}
.about-me{
    width:50%;

}
.about-me p::first-letter{
    color: #ff924e;
    font-size: 3rem;
    text-align: center;
}
.about-me p strong{
    color: #ff924e;
    font-size: 1.3rem;
}
.about-me p span{
    color: #ff924e;
    font-size: 1.3rem;
}
.about-me h2{
    color: #ff924e;
    font-size: 2rem;

}
.skills{
    width:70%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    position: relative;
    left: 14%;
    top: 6rem%;

}

.info {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    width: 70%;
}
.skill-prg{
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;


}
.footer{
    margin-top: 12rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background: #c7c6c6;
    padding: 10px 0px
}
.footer p{
    color: #724c09;
}


